@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
.modal-button {
  position: absolute; /* Make the button absolutely positioned within the modal */
  top: 0; /* Position it at the top */
  right: 0; /* Position it at the right */
  /* Add some margin for spacing (optional) */
  margin: 10px;
}
